// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$light-gray: #F4F4F4;


$purple: #CE84F7;
$blue: #9FD3FC;
$gray: #BBBBBB;
$gradient-img: #c8c8c8
