.plus-button {
  font-weight: bold;
  color:#FFFFFF !important;
  background: linear-gradient($purple, $blue);
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.plus-button:hover, .plus-button:active {
  color:#FFFFFF;
}

.filter-count {
  display:flex;
  justify-content: space-between;
}

.filter-count p {
  padding: 0 5px;
}

.search-form {
  margin-top: 10px;
}

.search-form input {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.search-form input:focus {
  background-color: white;
}

.tiny-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
  border : 1px solid rgb(220, 220, 220);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
