<div class="navbar">
    <div class="container-fluid">
      <ul class="navbar">
        <li class="nav-item">
          <a href="#"><i class="fa-solid fa-calendar"></i></a>
          <%= link_to "Rappel", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <a href="/documents"><i class="fa-solid fa-file"></i></a>
          <%= link_to "Documents", "/documents", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <a href="#"><i class="fa-solid fa-address-card"></i></a>
          <%= link_to "Carte", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <a href="/"><i class="fa-solid fa-house"></i></a>
          <%= link_to "Accueil", "/", class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</div>
