<div class="log-out">
  <a data-turbo-method="delete" href="/users/sign_out"><i class="fa-solid fa-arrow-right-from-bracket"></i> Log out</a>
</div>

<%= cl_image_tag current_user.patient.photo.key, class:"avatar" %>
<h1 class="mb-3">Bonjour <%= current_user.patient.first_name %></h1>

<div class="card-reminder">
  <div class="div">
    <i class="fa-solid fa-bell"></i>
    <p>Votre contrôle annuel chez le dentiste approche !</p>
  </div>
</div>


<div class="d-flex justify-content-between mt-3">
  <div class="card-home">
    <div class="div">
      <i class="fa-solid fa-user"></i>
      <h2>Profil</h2>
    </div>
  </div>
   <div class="card-home">
    <div class="div">
      <i class="fa-regular fa-address-card"></i>
      <h2>Carte</h2>
    </div>
  </div>
</div>

<div class="d-flex justify-content-between">
  <div class="card-home">
    <div class="div">
      <i class="fa-solid fa-lightbulb"></i>
      <h2>Conseils</h2>
    </div>
  </div>
   <div class="card-home">
    <div class="div">
      <i class="fa-solid fa-users"></i>
      <a href="<%= patients_path %>">
      <h2 >Proches</h2>
    </div>
  </div>
</div>
