<div class="log-out">
  <a data-turbo-method="delete" href="/users/sign_out"><i class="fa-solid fa-arrow-right-from-bracket"></i> Se déconnecter</a>
</div>

<%= cl_image_tag current_user.patient.photo.key, class:"avatar" %>
<h1 class="mb-3">Bonjour <%= current_user.patient.first_name%></h1>

<div class="card-reminder">
  <div class="div">
    <i class="fa-solid fa-bell"></i>
    <p>Votre contrôle annuel chez le dentiste approche !</p>
  </div>
</div>

<div class="d-flex justify-content-between mt-3">
  <a href="<%=patient_my_profile_path(current_user.patient) %>">
    <div class="card-home">
      <div class="div">
        <i class="fa-solid fa-user"></i>
        <h2>Profil</h2>
      </div>
    </div>
  </a>
  <a href="/my_bloodtests">
   <div class="card-home">
    <div class="div">
      <i class="fa-solid fa-chart-line"></i>
      <h2>Suivi</h2>
    </div>
  </div>
  </a>
</div>

<div class="d-flex justify-content-between">
<a href="">
  <div class="card-home">
    <div class="div">
      <i class="fa-solid fa-lightbulb"></i>
      <h2>Conseils</h2>
    </div>
  </div>
  </a>

   <a href="<%= patients_path %>">
    <div class="card-home">
    <div class="div">
      <i class="fa-solid fa-users"></i>
      <h2 >Proches</h2>
    </div>
  </div>
  </a>
</div>
