<h1>Documents</h1>
<div class="container">
  <div class="doc_count">
    <p>test count</p><p>test filter</p>
  </div>

  <div class="doc_cards">
    <% @documents.each do |document|%>
    <div class="card mx-5">
      <div class="symbol">
        <p>test logo</p>
      </div>
      <div>
        <p>test title</p>
      </div>
      <div>
        <p>test name</p>
      </div>
      <div>
        <p>test date</p>
      </div>
      <div>
        <p>test doc name</p>
      </div>
  <% end %>
  </div>
</div>
