<div class="container mt-5 pb-5">
  <div class="row d-flex align-items-start">
    <div class="col-md-4">
    </div>

    <div class="col-md-8">
      <!-- Text on the right -->
      <div class="card shadow p-4">
        <h3 class="blue-text mb-4"><%= @offer.title%> </h3>
        <h3 class="blue-text"> Ordonnance de biologie</h3>
        <p><%= @offer.profession %></p>
        <h3 class="blue-text">Ordonnance de médicament</h3>
        <p><%= @offer.experience %> years</p>
        <h3 class="blue-text">Imagerie médicale </h3>
        <p><%= @offer.description %> </p>
        <h3 class="blue-text">Compte rendu </h3>
  </div>
</div>
</div>
</div>
