<h1><a href="/documents"><i class="fa-solid fa-backward"></i></a><%= @document.category %></h1>

<div class="doc_count">
    <p class="left"><%= @document.date %></p><p class="right"><%= @document.patient.first_name %>  <%= @document.patient.last_name %></p>
  </div>

<div class="pdf_container">
</div>
