.carousel-item img {
  margin:10px;
}
.block4-wrap {
  display:flex
}
.block4 {
  flex:1 0 25%;
  background:#000;
  color:#fff;
}
.my-captions{margin:10px;padding-bottom:3em}

@media screen and (max-width:768px){
  .block4{max-width:280px;flex:1 0 100%;overflow:hidden}
  .carousel{overflow:hidden;}
  .carousel-inner{overflow-x:visible;}
}
@media screen and (max-width:480px){
  .block4{max-width:240px;}
}

// article_1, 2 and 3

.articles_titles {
  color: $purple;
  text-align: center;
}

p {
  font-family: "Quicksand" !important;
}

img {
  padding-bottom: 20px;
}

h1 {
  padding-bottom: 20px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

body {
  margin: auto;
}
