.button {
  margin-top: 20px;
  font-weight: bold;
  color:#FFFFFF;
  background: linear-gradient($purple, $blue);
  padding: 12px 40px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.button:hover, .button:active {
  color:#FFFFFF;
}
