.simple-calendar {
  table {
    min-height: 80vh;
    width: 100%;
    --bs-table-color: black;
    --bs-table-striped-color: black;
    --bs-table-striped-bg: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

th {
  text-align: center !important;
  color: #CE84F7 !important;
}

  .today {
    background: rgba(206, 132, 247, 0.3) !important;
  }

  .reminder {
    margin-top: 5px;
    color: white;
    padding: 8px;
    border-radius: 10px;
    transition: 0.3s ease;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    font-weight: 600;
  }

  .reminder {
    background: #9fd3fc75;
  }

  .reminder:hover {
    background: rgba(206, 132, 247, 0.3) !important;
    color: white;
  }

  .reminder a {
    color:black;
  }

  .simple-calendar {
    max-width: 200px;
  }

  @media screen and (max-width: 768px) {
    .simple-calendar {
      table {
        min-height: auto;
      }
    }
  }
}
