.container-calendar {
  margin: 0;
  padding: 0;
  width: 100%;
}

.filter-right {
  text-align: right;
}

.simple-calendar {
  table {
    min-height: 80vh;
    width: 100%;
    --bs-table-color: black;
    --bs-table-striped-color: black;
    --bs-table-striped-bg: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

th {
  text-align: center !important;
  color: #CE84F7 !important;
}

  .today {
    background: rgba(206, 132, 247, 0.3) !important;
  }

  .reminder {
    border-radius: 5px;
    padding: 0px;
    transition: 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    width: 30px;
    font-size: 12px;
    margin: 0 auto;
    overflow: hidden;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 2px;
  }

  .reminder-0 {
    background: #9fd3fc75;
  }

  .reminder-1 {
    background: #4fa7ebb3;
  }

  .reminder-2 {
    background: #ce84f77a;
  }

  .reminder-3 {
    background: #CE84F7;
  }

  .reminder-4 {
    background: #495ceb57;
  }

  .reminder a {
    color:black;
  }

  .simple-calendar {
    max-width: 200px;
  }

  @media screen and (max-width: 768px) {
    .simple-calendar {
      table {
        min-height: auto;
      }
    }
  }
}
