.card-document {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  border : 1px solid rgb(220, 220, 220);
  border-radius: 20px;
  margin-top: 20px;
}

.card-document div {
  display: flex;
  justify-content: space-between;
  text-align: left !important;
}

.card-document i {
  font-size: 20px;
  background: $purple;
	background: -webkit-linear-gradient($purple, $blue);
	background: linear-gradient($purple, $blue);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.card-document h3 {
  color: black;
}

// document index

.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  font-size: 12px;
  align-items: center;
  background: linear-gradient(#CE84F7, #9FD3FC);
}

.fa-notes-medical::before {
  color: black;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.doc_count {
  justify-content: space-between;
  margin-top: 20px;
}

p.left {
  text-align: left;
  display: inline;
  margin-right: 82px;

}

p.right {
  text-align: right;
  display: inline;
  margin-left: 82px;
}
