.card-filter {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  border : 1px solid rgb(220, 220, 220);
  border-radius: 20px;
  margin-top: 20px;
}

.filter-name {
  display: flex;
  justify-content: space-between;
}

.card-filter i {
  font-size: 25px;
  background: $purple;
	background: -webkit-linear-gradient($purple, $blue);
	background: linear-gradient($purple, $blue);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.card-filter h3 {
  color: black;
  text-align: left;
}

.card-filter div {
  text-align: left;
}

.form-check-input:checked {
  background-color: $purple;
  border-color: $purple;
}

.small-eye {
  font-size:16px !important;
  background: $purple;
	background: -webkit-linear-gradient($purple, $blue);
	background: linear-gradient($purple, $blue);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
