.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px 0;
}

.card-data {
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 20px;
  margin: 5px;
  width: 100%;
}

.card-data h2 {
  font-size: 20px;
  margin: 0;
  color: $purple;
  text-align: left;
}

.card-data p {
  font-size: 16px;
  margin-top: 10px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.center-button {
  text-align: center;
}

.card-data>div {
  display: flex;
  justify-content: space-between;
}

.margin-groupe-sanguin {
  margin-right: 38px;
}

.margin-right {
  margin-right: 58px;
}
