.carousel {
  padding-top: 12px;
  padding-bottom: 20px;

}

.card-article {
  background: linear-gradient(#CE84F7, #9FD3FC);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  border : 1px solid rgb(220, 220, 220);
  border-radius: 20px;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: flex-end;
}
.card-article i {
  color: white;
  margin-bottom: 10px;
  font-size: 30px;
  padding-left: 140px;
}

.card-article h2 {
  color: white;
  text-align: center;
  border: 1px solid black;
  margin-bottom: 0px;
  z-index: 100;

}

.card-article div {
  display: flex;
  align-items: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 6px;
  padding-top: 20px;
}

.carousel-item.active {
  margin-right: 0px;

}

.carousel-item img {
  margin-bottom: -120px;
  margin-left: 0px;
  margin-top: 0;
  border-radius: 20px;
}

.carousel-inner :before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)); /* Vous pouvez personnaliser les couleurs et l'opacité selon vos préférences */
  pointer-events: none; /* Permet de cliquer à travers la superposition */
  z-index: 1; /* Assurez-vous que la superposition est au-dessus de l'image */
  border-radius:20px;
}

.carousel-item .sport-img {
  margin-bottom: -100px;
}

.carousel-item .sleep-img {
  margin-bottom: -100px;
}

.carousel-item .food-img2 {
  margin-bottom: -100px;
}

.carousel-item .food-img3 {
  margin-bottom: -70px;
}

.carousel-item .sport-img2 {
  margin-bottom: -130px;
}

.carousel-item .sport-img3 {
  margin-bottom: -100px;
}

.carousel-item .sleep-img2 {
  margin-bottom: -100px;
}

.carousel-item .sleep-img3 {
  margin-bottom: -100px;
}

.carousel-item .article-card-title {
  border: black 1px;
}
