.form-inputs {
  text-align: left;
}

.form-inputs input {
  border-radius: 20px;
  background-color: white;
}

.form-inputs .button:active, .form-inputs button:focus, .form-inputs button:visited {
  color:white !important;
}

.form-inputs label {
  color: $purple;
  font-weight: bold;
}
