#offcanvasFilter h2 {
  color: black;
}

#offcanvasFilter {
  text-align: left;
  color: black;
}

#offcanvasFilter legend {
  color: $purple;
  font-weight: bold;
}

#offcanvasFilter .button {
  margin-top:10px !important;
}

.collection_check_boxes {
  color: black !important;
  font-weight: normal !important;
}
