.navbar {
  margin-top: 40px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  justify-content: space-around;
  background: white;
  border-top : 1px solid rgb(220, 220, 220);
  z-index: 1000;
}

.navbar li {
  list-style: none;
  text-align: center;
  color:$gray;
}

.navbar ul {
  padding: 15px 15px 0 0;
}

.navbar a {
  font-weight: bold;
}

.navbar i {
  font-size: 25px;
  background: $purple;
	background: -webkit-linear-gradient($purple, $blue);
	background: linear-gradient($purple, $blue);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.navbar i:before {
  display: initial;
}

.nav-item.active{
  color: #DFB7F6 !important;
}
.nav-item:hover{
    color: #DFB7F6 !important;
}
