.simple_form input:not(:checked):focus {
  background-color: white;
}

.flatpickr-input, .datetime {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 60px;
}

.flatpickr-day.selected {
  background: $purple;
  border-color: $purple;
}

.simple_form .button:active, .simple_form .button:focus, .simple_form .button:visited {
  color:white !important;
}

.simple_form label {
  color: $purple;
  font-weight: bold;
}

.simple_form .btn:active, .simple_form .btn:focus, .simple_form .btn:visited {
  color: white !important;
}
