<div class="back_btn">
  <a href="/reminders"><i class="fa-solid fa-backward"></i> Retour</a>
</div>
<h1> Editer ma prise de sang</h1>

<%= render 'form' %>

<div class="mt-3">
  <%= link_to "Annuler", patient_bloodtests_path %>
</div>
