<h1>Mes analyses de sang</h1>

<% @patients.each do |patient| %>
  <div class="card-document">
    <div class="d-flex justify-content-between align-items-center">
      <%= cl_image_tag patient.photo.key, class:"tiny-avatar" %>
      <h2><%= "#{patient.first_name} #{patient.last_name}" %></h2>
      <div class="eye_link">
        <%= link_to ('<i class="fa-solid fa-magnifying-glass-chart"></i>').html_safe, patient_bloodtests_path(patient) %>
      </div>
    </div>
  </div>
  <% end %>
</div>
